html{
    font-size: 62.5%;
}

body{
    font-size: 2em;
}

h1, p{
    text-align: center;
}

ol li:hover {
    background: rgb(231, 228, 228);
}

ol li:active {
    color: crimson;
}

ul, li{
    list-style: none;
}